/* Project all fonts here now */
@font-face {
    font-family: Avenir;
    src: url('./fonts/AvenirLTStd-Black.otf');
}
@font-face {
    font-family: Helvetica;
    src: url('./fonts/Helvetica.ttf');
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Avenir;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family:Helvetica;
}
a{
    text-decoration: none;
}
ul{
    list-style:none;
}


/* Basic Style Complate Now */